NEXT_PUBLIC_SUPABASE_URL=https://fgfmjceyrvalvfurqprw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnZm1qY2V5cnZhbHZmdXJxcHJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4ODEzNjUsImV4cCI6MjA4OTQ1NzM2NX0.cyW_UvR7ZTnX53tgItB3sxVHZdgC9f1pGnHOcdSQxnc
